*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --text-color--white: hsl(214, 17%, 92%);
  --text-color--grey: hsl(217, 19%, 35%);
}
html {
  
}
body {
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: 'Barlow Semi Condensed';
  padding: 5rem;
}
.container {
  border: solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr ;
  gap: 2rem;
  padding: 2rem;
  width: min(100%, 75rem);
  &__card-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    &-name {
      font-weight: 600;
    }
  }
  &__daniel-card {
    grid-column: span 2;
    position: relative;
    background-color: hsl(263, 55%, 52%);
    color: var(--text-color--white);
    &::before {
      content: '';
      background: url(images/bg-pattern-quotation.svg) no-repeat;
      color: hsl(264, 82%, 80%);
      position: absolute;
      z-index: 1;
      height: 7rem;
      width: 7rem;
      top: 0;
      right: 2rem;
    }
    .post-wrapper {
      position: relative;
      z-index: 3;
    }
  }
  &__jonathan-card {
    background-color: var(--text-color--grey);
    color: var(--text-color--white);
  }
  &__jeanette-card {
    color: var(--text-color--grey);
  }
  &__kira-card {
    grid-area: 1/4/3/5;
    color: var(--text-color--grey);
  }
  &__patrick-card {
    grid-area: 2/2/3/4;
    color: var(--text-color--white);
    background-color: hsl(219, 29%, 14%);
  }
  &__card {
    border: solid blue;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    font-size: .8rem;
    box-shadow: 40px 40px 50px rgba(0,0,0,0.3);
    line-height: 1.2rem;
    & h2 {
      font-weight: 500;
      line-height: 1.2;
    }
    &-img {
      border-radius: 50%;
      height: 2rem;
    }
  }
}
.card-info-wrapper p{
  margin: 0;
}
.attribution { font-size: 11px; text-align: center;
  & a { color: hsl(228, 45%, 44%); }
}

@media all and (min-width: 1000px){
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    &__kira-card {
    grid-area: 3/1/4/4;
    }
    &__jeanette-card {
      width: 100%;
    }
    &__patrick-card {
      width: 100%;
    }
  }
}
@media all and (min-width: 1100px){
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr ;
    &__kira-card {
    grid-area: 1/4/3/5;
    color: var(--text-color--grey);
  }
  }
}
